.forgotpassword_root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.forgotpassword_container {
  width: 500px;
  background-color: white;
  padding: 50px 50px;
  border-radius: 20px;
}
.forgotpassword_title {
  font-weight: 600;
  text-align: left;
  font-size: 22px;
}
.forgotpassword_subTitle {
  font-size: 13px;
  color: grey;
  text-align: left;
  margin-top: 10px;
}
.forgotpassword_root .formItem {
  width: 100%;
  border: 1px solid #dddddddd;
  padding: 10px 12px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.forgotpassword_root .formItem2 {
  width: 100%;
  border: 1px solid #dddddddd;
  padding: 10px 12px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  /* background-color: red; */
  display: flex;
  align-items: center;
}
.forgotpassword_root .formInput {
  width: 100%;
  border: none;
  outline: none;
}
.forgotpassword_root .reset_btn {
  width: 100%;
  background-color: #9c27b0;
  padding: 18px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.back_to_login {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 20px;
  cursor: pointer;
}
.forgotpassword_root .otpContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.forgotpassword_root .otpInput {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #dddddddd;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}
.Password_change_success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.all_done {
  margin-top: 20px;
  font-weight: 600;
  font-size: 25px;
}
.forgotpassword_root .success {
  margin-top: 20px;
  text-align: center;
  color: #5b5b5b;
  font-size: 16px;
  font-weight: 600;
}
.forgotpassword_root .indicator {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0px 100px;
}
.forgotpassword_root .individual_indicator {
  border: 1px solid #5b5b5b;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5b5b5b;
}
.forgotpassword_root .indicator_active {
  border: 2px solid black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 600;
}
.forgotpassword_root .reset_btn:disabled {
  background-color: grey;
  cursor: not-allowed;
}
.forgotpassword_root .resend_otp {
  cursor: pointer;
  font-size: 14px;
  color: #9c27b0;
  text-decoration: underline;
  font-weight: 600;
  border: NONE;
  background-color: white;
}
.forgotpassword_root .resend_otp:disabled {
  cursor: not-allowed;
  color: grey;
}
