/* PasswordStrengthChecker.css */
.password-checker {
  width: 100%;
  margin: 0 auto;
  /* font-family: Arial, sans-serif; */
}
.strength-meter {
  height: 4px;
  background-color: rgb(197, 197, 197);
  border-radius: 5px;
  overflow: hidden;
}
.strength-bar {
  height: 100%;
  transition: width 0.3s;
}
.strength-text {
  margin-top: 10px;
  font-size: 12px;
  text-align: right;
  font-weight: 600;
}
